.red-color{
    color: red;
    
}
h1{
    font-size: 50px;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h3{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700px;
}

body{
    background-color: #F2F2FF;
    font-size: 20px;
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}

.top-banner{
    background-image: url(/Developer-Portfolio/top\ banner.png);  
    background-repeat: no-repeat;
}

.organize-divs{
    display: flex;  
}

.half-width{
    width: 50%;
    padding-left: 5%;
}

.half-width img{
    width: 85%;
    border: 5px solid white;
    border-radius: 5px;
}

.half-width a{
    background-image: linear-gradient(coral, red);
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}